.modal {
  position: fixed;
  top: 135px;
  left: 50%;
  z-index: 10;

  display: none;
  max-width: 490px;
  max-height: 605px;
  margin: 0 auto;
  padding: 35px 40px;

  background-color: $brand-color;
  transform: translateX(-50%);

  & > h2 {
    position: relative;
    margin: 0;
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.4;
    font-family: $robotocondensed-font;
    color: $font-color--primary;

    @media (max-width: $tablet-width) {
      margin-bottom: 17px;
      font-size: 32px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 13px;
      font-size: 28px;
    }
  }

  & > p {
    margin: 0;
    margin-bottom: 17px;
    padding-right: 7px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    font-family: $brand-font;
    color: $font-color--primary;

    @media (max-width: $mobile-width) {
      margin-bottom: 10px;
    }
  }

  .feedback__item {
    width: 100%;
    margin-bottom: 23px;

    input,
    textarea {
      padding-left: 23px;
    }

    textarea {
      min-height: 100px;
    }
  }

  .feedback__footer-wrapper {
    flex-direction: column;

    & * {
      width: 100%;
    }

    .feedback__checkbox-wrapper {
      padding-left: 50px;
    }

    .feedback__checkbox-label {
      &::before {
        left: -50px;
      }

      &::after {
        left: -47px;
      }
    }

    .feedback__button {
      margin-bottom: 30px;
    }
  }
}

.modal__button-close {
  position: absolute;
  top: 20px;
  right: 20px;

  display: block;
  width: 17px;
  height: 17px;

  border: none;
  cursor: pointer;
  background: none;

  &::before,
  &::after {
    content: "";
    position: absolute;

    width: 22px;
    height: 2px;
    border-radius: 5px;
    background-color: #ffffff;
  }

  &::before {
    top: 6px;
    right: 0;
    transform: rotate(44deg);
  }

  &::after {
    top: 6px;
    right: 0;
    transform: rotate(-44deg);
  }
}

.modal-show {
  display: block;
}
