.overlay {
  position: relative;

  overflow: hidden;
  pointer-events: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .modal {
    pointer-events: auto;
  }
}
