.overlay {
  position: relative;

  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
