.page-header {
  flex-grow: 1;
  padding-top: 35px;
  padding-right: 25px;
  padding-bottom: 275px;
  padding-left: 25px;

  background-color: #1b2d37;
  background-image: url("#{$image-dir}/background-pattern.png"),
    url("#{$image-dir}/polygons-group.png");
  background-repeat: no-repeat;
  background-size: cover, 100%;
  background-position: left, center;

  overflow: hidden;

  @media (max-width: $tablet-width) {
    padding-top: 19px;
    padding-bottom: 5px;
    background-size: cover, 1515px 750px;
    background-position: left, center -145px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 15px;
    background-size: cover, 1445px 670px;
    background-position: left, 56% -140px;
  }
}

.page-header__wrapper {
  @include centerer();

  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 230px;

  @media (max-width: $tablet-width) {
    margin-bottom: 117px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 230px;
  }
}

.page-header__navigation {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  max-width: 365px;
  min-width: 300px;


  @media (max-width: $tablet-width) {
    justify-content: space-between;
    flex-grow: 1;
    width: auto;
    max-width: none;
    min-width: auto;
    margin-right: 49px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 40px;
  }
}

.page-header__logo {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  &--footer {
    img {
      @media (max-width: $mobile-width) {
        width: 52px;
        height: 52px;
      }
    }
  }

  img {
    width: 52px;
    height: 52px;
    margin-right: 14px;

    @media (max-width: $tablet-width) {
      margin-right: 16px;
    }

    @media (max-width: $mobile-width) {
      width: 38px;
      height: 38px;
    }
  }
}

// .page-header__logo-image {
//   width: 52px;
//   height: 52px;
//   margin-right: 14px;
//
//   @media (max-width: $tablet-width) {
//     margin-right: 16px;
//   }
//
//   @media (max-width: $mobile-width) {
//     width: 38px;
//     height: 38px;
//
//     &--footer {
//       width: 52px;
//       height: 52px;
//     }
//   }
// }

.page-header__logo-wrapper {
  position: relative;

  display: flex;
  flex-flow: column;

  @media (max-width: $tablet-width) {
    padding-top: 7px;
  }

  &--header {
    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

.page-header__logo-head {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  font-family: $robotocondensed-font;
  color: $font-color--primary;

  &--footer {
    color: #000000;
  }
}

.page-header__logo-caption {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  font-family: $roboto-font;
  color: #788891;
}

.page-header__menu-button {
  position: relative;

  width: 37px;
  height: 40px;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;

    top: 12px;
    right: 0;
    width: 100%;
    height: 1px;

    background-color: $font-color--primary;
    box-shadow: 0 11px 0 0 $font-color--primary;
  }

  &:hover::before,
  &:focus::before {
    background-color: $brand-color;
    box-shadow: 0 11px 0 0 $brand-color;
  }
}

.page-header__contacts {
  position: relative;

  display: flex;
  align-items: center;
  width: 60%;
  max-width: 650px;

  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 85px;
    max-width: none;
  }

  @media (max-width: $mobile-width) {
    width: 75px;
  }
}

.page-header__email {
  padding-left: 29px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }

  a {
    position: relative;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    font-family: $brand-font;
    color: $font-color--primary;

    cursor: pointer;

    @media (max-width: $tablet-width) {
      display: block;
      width: 25px;
      height: 18px;

      font-size: 0;
    }

    &::before {
      content: "";
      position: absolute;

      left: -39px;
      width: 19px;
      height: 14px;

      background-image: url("#{$image-dir}/envelope.svg");
      background-repeat: no-repeat;

      @media (max-width: $tablet-width) {
        left: 0;

        width: 100%;
        height: 100%;

        background-size: 25px;
      }
    }
  }
}

.page-header__phone {
  margin-left: auto;
  padding-left: 38px;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    padding-left: 0;
  }

  a {
    position: relative;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    font-family: $brand-font;
    color: $font-color--primary;

    cursor: pointer;

    @media (max-width: $tablet-width) {
      display: block;
      width: 24px;
      height: 24px;

      font-size: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: -36px;

      width: 18px;
      height: 18px;

      background-image: url("#{$image-dir}/phone.svg");
      background-repeat: no-repeat;

      @media (max-width: $tablet-width) {
        left: 0;

        width: 100%;
        height: 100%;

        background-size: 24px;
      }
    }
  }
}

.page-header__email-link,
.page-header__phone-link {
  &:hover,
  &:focus {
    color: $brand-color;
  }
}

.page-header__order-call {
  margin-left: 46px;
  padding: 14px 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  font-family: $robotocondensed-font;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: $font-color--primary;

  cursor: pointer;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: $brand-color;
    border-color: $brand-color;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__profile-info {
  @include centerer();

  position: relative;

  display: flex;
}

.page-header__profile-info-wrapper {
  position: relative;
  z-index: 1;

  @media (max-width: $tablet-width) {
    padding-left: 65px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
  }

  h1 {
    margin-bottom: 25px;

    font-weight: 700;
    font-size: 80px;
    line-height: 1.2;
    font-family: $robotocondensed-font;
    color: $font-color--primary;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media (max-width: $tablet-width) {
      margin-bottom: 27px;
      padding-right: 171px;

      font-size: 60px;
    }

    @media (max-width: $mobile-width) {
      font-size: 40px;
    }
  }

  p {
    position: relative;

    margin-bottom: 44px;
    padding-left: 94px;
    padding-right: 15px;

    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    font-family: $brand-font;
    color: $font-color--primary;

    @media (max-width: $tablet-width) {
      max-width: 500px;
      margin-bottom: 55px;
      padding-right: 60px;
      padding-left: 49px;

      font-size: 18px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 42px;
      padding-left: 51px;
      padding-right: 0;

      font-size: 16px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 14px;
      left: 2px;

      width: 66px;
      height: 2px;

      background-color: #ffffff;

      @media (max-width: $tablet-width) {
        width: 33px;
      }

      @media (max-width: $mobile-width) {
        width: 33px;
      }
    }
  }
}

// .page-header__profile {
//   margin-bottom: 25px;
//
//   font-weight: 700;
//   font-size: 80px;
//   line-height: 1.2;
//   font-family: $robotocondensed-font;
//   color: $font-color--primary;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//
//   @media (max-width: $tablet-width) {
//     margin-bottom: 27px;
//     padding-right: 171px;
//
//     font-size: 60px;
//   }
//
//   @media (max-width: $mobile-width) {
//     font-size: 40px;
//   }
// }

// .page-header__profile-caption {
//   position: relative;
//
//   margin-bottom: 44px;
//   padding-left: 94px;
//   padding-right: 15px;
//
//   font-weight: 400;
//   font-size: 22px;
//   line-height: 1.5;
//   font-family: $brand-font;
//   color: $font-color--primary;
//
//   @media (max-width: $tablet-width) {
//     max-width: 500px;
//     margin-bottom: 55px;
//     padding-right: 60px;
//     padding-left: 49px;
//
//     font-size: 18px;
//   }
//
//   @media (max-width: $mobile-width) {
//     margin-bottom: 42px;
//     padding-left: 51px;
//     padding-right: 0;
//
//     font-size: 16px;
//   }
//
//   &::before {
//     content: "";
//     position: absolute;
//     top: 14px;
//     left: 2px;
//
//     width: 66px;
//     height: 2px;
//
//     background-color: #ffffff;
//
//     @media (max-width: $tablet-width) {
//       width: 33px;
//     }
//
//     @media (max-width: $mobile-width) {
//       width: 33px;
//     }
//   }
// }

.page-header__profile-button {
  margin-left: 90px;
  padding: 18px 46px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  font-family: $robotocondensed-font;
  color: $font-color--primary;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;

  background-color: $brand-color;
  border-radius: 5px;
  border: none;

  &:hover,
  &:focus {
    background-color: rgba(0, 178, 255, 0.7);
  }


  @media (max-width: $tablet-width) {
    margin-bottom: 160px;
    margin-left: 49px;
    padding: 17px 31px;

    font-size: 16px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }

  &--mobile {
    display: none;

    @media (max-width: $mobile-width) {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-bottom: 70px;
      padding: 18px 30px;
    }
  }
}

// .page-header__profile-image {
//   @media (max-width: $tablet-width) {
//     width: 465px;
//     height: 340px;
//   }
//
//   @media (max-width: $mobile-width) {
//     width: 300px;
//     height: 220px;
//   }
// }
