.page-footer {
  position: relative;
  padding-top: 67px;
  background-color: #fafafa;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 45px;
  }
}

.page-footer__main {
  @include centerer();

  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 8px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    max-width: none;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}

.page-footer__block-wrapper {
  display: flex;

  &--first {
    @media (max-width: $tablet-width) {
      border-bottom: 1px solid rgba(98, 105, 98, 0.2);
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 0;
    }
  }

  &--first-wrapper {
    flex-direction: column;
    margin-right: 50px;

    @media (max-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
      padding-right: 25px;
      padding-left: 25px;
    }

    @media (max-width: $mobile-width) {
      flex-direction: column;
      margin-bottom: 49px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &--second {
    flex-grow: 1;
    justify-content: space-between;
    max-width: 990px;

    @media (max-width: $tablet-width) {
      margin-bottom: 38px;
      padding-right: 25px;
      padding-top: 39px;
      padding-left: 25px;
    }

    @media (max-width: $mobile-width) {
      flex-direction: column;
      margin-bottom: 0;
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.page-footer__logo {
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    margin-right: 2%;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.page-footer__social {
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__navigation {
  flex-grow: 1;

  @media (max-width: $mobile-width) {
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }
}

.page-footer__navigation,
.page-footer__contacts {
  width: calc(50% - 15px);

  @media (max-width: $mobile-width) {
    width: auto;
  }
}

.page-footer__navigation-wrapper {
  @media (max-width: $mobile-width) {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__navigation-wrapper,
.page-footer__contacts-wrapper {
  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.page-footer__navigation-inner-wrapper,
.page-footer__contacts-inner-wrapper {
  margin-bottom: 22px;

  @media (max-width: $mobile-width) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 28px;
    padding-top: 28px;
  }
}

.page-footer__block-caption {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  font-family: $robotocondensed-font;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;

  @media (max-width: $mobile-width) {
    margin: 0;
  }
}

.page-footer__list {
  @include reset-list();

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 100px;

  @media (max-width: $tablet-width) {
    flex-wrap: nowrap;
    max-height: none;
  }

  @media (max-width: $mobile-width) {
    display: none;
    width: 100%;
    margin-bottom: 25px;
  }

  &--navigation {
    max-width: 500px;
  }
}

.page-footer__list-item {
  @media (max-width: $mobile-width) {
    padding-right: 5px;
  }
}

.page-footer__list-item a {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  font-family: $brand-font;
  color: #1b2d37;
  opacity: 0.5;
}

.page-footer__confidentiality {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(98, 105, 98, 0.2);

  @media (max-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 25px;
  }
}

.page-footer__confidentiality-centerer {
  @include centerer();

  box-sizing: content-box;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-right: 25px;
  padding-left: 25px;

  @media (max-width: $mobile-width) {
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.page-footer__confidentiality-wrapper {
  display: flex;
  flex-grow: 1;
  max-width: 820px;
}

.page-footer__confidentiality-items {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.8;
  font-family: $brand-font;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(27, 45, 55, 0.5);

  &--rights {
    margin-right: 9%;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &--company {
    display: block;
    margin-right: 17%;

    @media (max-width: $tablet-width) {
      display: none;
      margin-right: 0;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 34px;
    }
  }

  &--company-tablet {
    display: none;

    @media (max-width: $tablet-width) {
      display: block;
    }
  }

  &--confidentiality-link {
    @media (max-width: $mobile-width) {
      margin-bottom: 25px;
    }
  }
}
