.page-main__wrapper {
  background-image: url("#{$image-dir}/polygons-group-main.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 -427px;

  @media (max-width: $tablet-width) {
    background-size: 249%;
    background-position: 30% -95%;
  }

  @media (max-width: $mobile-width) {
    background-size: 1651px;
    background-position: 43% 16%;
  }
}
