.services {
  background-color: #1b2d37;
}

.services__wrapper {
  @include centerer-main();

  padding-top: 90px;
  padding-bottom: 127px;

  @media (max-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 34px;
  }

  h2 {
    margin: 0;
    margin-bottom: 52px;
    padding: 0;

    font-weight: 400;
    font-size: 36px;
    line-height: 1.4;
    font-family: $robotocondensed-font;
    color: $font-color--primary;

    @media (max-width: $tablet-width) {
      padding-right: 90px;

      font-size: 32px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 42px;
      padding-right: 0;
      padding-left: 9px;
      font-size: 28px;
    }
  }
}

.services__list {
  @include reset-list();

  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.services__item-wrapper {
  width: calc(33% - 15px);
  height: 620px;

  @media (max-width: $tablet-width) {
    width: 100%;
    height: 256px;
    margin-bottom: 45px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.services__item {
  position: relative;

  display: block;
  height: 100%;
  padding-top: 50px;
  padding-left: 43px;

  background-repeat: no-repeat;
  background-size: 100%;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    width: 63px;
    height: 63px;
    background-color: $brand-color;
  }

  &::after {
    content: "";
    position: absolute;
    right: 27px;
    bottom: 26px;

    width: 6px;
    height: 10px;
    background-image: url("#{$image-dir}/arrow.svg");
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.5);
  }

  @media (max-width: $tablet-width) {
    padding-top: 39px;

    background-position: center center;
  }

  @media (max-width: $mobile-width) {
    padding-top: 20px;
    padding-left: 35px;
  }

  &--production {
    background-image: url("#{$image-dir}/production-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("#{$image-dir}/production-desktop@2x.png");
    }

    @media (max-width: $tablet-width) {
      background-image: url("#{$image-dir}/production-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("#{$image-dir}/production-tablet@2x.png");
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url("#{$image-dir}/production-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("#{$image-dir}/production-mobile@2x.png");
      }
    }
  }


  &--setup {
    background-image: url("#{$image-dir}/setup-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("#{$image-dir}/setup-desktop@2x.png");
    }

    @media (max-width: $tablet-width) {
      background-image: url("#{$image-dir}/setup-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("#{$image-dir}/setup-tablet@2x.png");
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url("#{$image-dir}/setup-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("#{$image-dir}/setup-mobile@2x.png");
      }
    }
  }

  &--utilities {
    padding-left: 46px;
    background-image: url("#{$image-dir}/utilities-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("#{$image-dir}/utilities-desktop@2x.png");
    }

    @media (max-width: $tablet-width) {
      padding-top: 50px;
      background-image: url("#{$image-dir}/utilities-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("#{$image-dir}/utilities-tablet@2x.png");
      }
    }

    @media (max-width: $mobile-width) {
      padding-top: 30px;
      padding-left: 36px;
      background-image: url("#{$image-dir}/utilities-mobile@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("#{$image-dir}/utilities-mobile@2x.png");
      }
    }
  }

  p {
    margin: 0;
    padding: 0;
    padding-right: 155px;
    font-family: $robotocondensed-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: $font-color--primary;

    @media (max-width: $tablet-width) {
      padding-right: 505px;
    }

    @media (max-width: $mobile-width) {
      padding-right: 85px;
    }
  }
}
