.social__list {
  @include reset-list();

  display: flex;

  @media (max-width: $tablet-width) {
    width: 112px;
  }
}

.social__item {
  margin-right: 15px;
}

.social__link {
  display: block;
}

.social__link-icons {
  &:hover,
  &:focus {
    path {
      fill: $brand-color;
    }
  }
}
