html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  font-family: $brand-font;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
