@font-face {
  font-family: "Open Sans";
  src: url("#{$fonts-dir}/opensans.woff2") format("woff2"), url("#{$fonts-dir}/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("#{$fonts-dir}/robotocondensed.woff2") format("woff2"), url("#{$fonts-dir}/robotocondensed.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("#{$fonts-dir}/robotocondensedbold.woff2") format("woff2"), url("#{$fonts-dir}/robotocondensedbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("#{$fonts-dir}/roboto.woff2") format("woff2"), url("#{$fonts-dir}/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Mono";
  src: url("#{$fonts-dir}/ptmono.woff2") format("woff2"), url("#{$fonts-dir}/ptmono.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
