$tablet-width: 1023px;
$mobile-width: 767px;

$brand-color: #00B2FF;

$brand-font: "PT Mono", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", helvetica, arial, sans-serif;
$font-weight--primary: 400;
$font-weight--secondary: 700;
$font-color--primary: #FFFFFF;
$font-color--secondary: #666666;

$fonts-dir: "../fonts";
$image-dir: "../img";
